* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18)
}

nav {
    background-color: rgb(12, 12, 12);
    padding: 1%;
}

nav a {
    color: white;
    font-size: 30px;
    /* superior | direita | inferior | esquerda */
    padding: 2%;
    text-decoration-line: none;
}

nav a:hover {
    color:  rgb(90, 0, 159);
    transition: 0.3s;
}

/*---------------  CSS aula 1 ----------------- */
main {
    margin: 1%;
}

p {
    font-family: 'Times New Roman', cursive;
    font-size: 25px;
    color: white;
    padding: 1%;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Arial', cursive;
    font-size: 30px;
    color: rgb(156, 17, 17);
    padding: 1%;
}